.container{
    color: #227071;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 25%;
    width: 100%;
    height: fit-content;
    background-color: white;
}

.widget-section-grid{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
.widget-container-title{
    background-color: #185a71;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.widget-section-bottom{
    grid-row: 2;
    grid-column: 1;
    padding: 10px 5px 15px 20px;
}
.widget-section-upper{
    grid-row:1;
    grid-column:1;
    padding: 10px 5px 15px 20px;
}
.widget-section-name{
    grid-row:1;
    color: #0E821F;
    text-align: left;
    padding: 5px 5px 5px 3px;
    font-weight: bold;
}

.widget-input{
    border: #227071 2px solid;
    padding:5px;
    text-align: left;
    color: grey;
    margin-left: 3%;
    border-radius: 5px;
}
.widget-input-container{
    display:grid;
    grid-template-rows: auto auto;
}

.widget-input-label{
    font-size: 11px;
    text-align: left;
    padding:10px 10px 2px 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
